bin/
build.gradle
build/classes/
build/dependency-cache/
build/resources/
build/retromapping/
build/sources/
build/taskLogs/
build/tmp/
build/libs/*-sources.jar
.gradle/
.settings/
*.launch
.classpath
.project
eclipse/
gradle/
logs/
run/
